@import './global.scss';

#search-bar {
  form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: $darker;
    padding: 20px 0;
  }

  label {
    color: #f1f1f1;
  }

  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 500px;
  }

  .label-code {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px 8px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    &:invalid {
      box-shadow: none;
    }
  }
  input[type='text'] {
    background-color: white;
    width: 500px;
    margin-right: 10px;
    &:disabled {
      background-color: lightgray;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
  input[type='submit'] {
    background-color: $primary;
    margin-bottom: 0.5rem;
    margin-left: 10px;
    text-align: center;
    width: min-content;
    white-space: nowrap;
    color: #fff;
    height: min-content;

    border: 1px solid transparent;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:disabled {
      background-color: gray;
      &:hover {
        cursor: not-allowed;
        text-decoration: none;
      }
    }
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

    &.relevant {
      font-weight: 800;
    }
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
}
