@import 'customNavbar';

* {
  color: white;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: white;
}
.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-expand-lg .navbar-collapse {
  flex-basis: auto;
  justify-content: flex-end;
}
.mr-auto,
.mx-auto {
  margin-right: 0 !important; //had to write important because bootstrap uses important all the time and needed to override it
  margin-left: auto;
}
